---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
---

<Layout title="Arnex Portfolio">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-20 h-20 mb-4"
        src="./public/arnexphoto.jpg"
        alt="Arnex Profile"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy ArnexDev <a
          href="https://www.linkedin.com/in/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="text-purple-200/90"
          >Desarrollador Web y Estudiante de Ingeniería.</span
        >
        <span class="">De Puerto Vallarta, Jalisco, México.</span>
        <span class="opacity-75"
          >Especializado en crear aplicaciones impresionantes</span
        >
      </h2>

      <nav class="flex gap-x-2">
          <SocialPill href="https://www.linkedin.com/in/">
            <LinkedIn class="w-6 h-6" />
            LinkedIn
          </SocialPill>
          <SocialPill>
            <LinkedIn class="w-6 h-6" />
            LinkedIn
          </SocialPill>
          <SocialPill>
            <LinkedIn class="w-6 h-6" />
            LinkedIn
          </SocialPill>
      </nav>
    </section>
  </main>
</Layout>

<style></style>
