---
 const personalImageAlt = "Jose Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi reiciendis quis molestias praesentium inventore porro accusamus obcaecati suscipit rem! Nobis nesciunt expedita repellendus doloribus incidunt obcaecati harum aperiam repellat delectus! <strong
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magni necessitatibus veritatis est, doloremque possimus delectus architecto iure hic enim? Iusto accusantium debitis amet labore neque explicabo veniam magnam laborum!</strong
      >.
    </p>

    <p>
      Lorem ipsum dolor sit <strong
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore</strong
      >. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis excepturi autem quasi natus rem facilis eum non delectus.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatibus., <strong
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, cumque! <em class="italic">Lorem, ipsum dolor.</em> Lorem.</strong
      >. Lorem ipsum dolor sit amet.
    </p>
  </div>

  <img width="200" height="200" src="/public/arnexphoto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>