---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition text-md group max-w-fit rounded-full dark:hover:shadow-glow dark:bg-gray-900/90 dark:active:bg-violet-500 active:scale-90 hover:scale-110"
>
  <slot />
</a>
